/* Section Header */
.section-header {
	.page-breadcrumbs-wrapper {
		display: none;
		/*@media (min-width:@screen-tablet) {
			display: none;
		}*/
	}

	&.page-header {
		margin: 120px auto 0;
		@media (max-width: @screen-desktop) {
			margin: 140px auto 0;
		}

		@media (max-width:@screen-tablet) {
			margin: 100px auto 0;
		}
	}

	.section-title {
		font-size:42px;
		font-weight: 500;
		color:#303030;
		margin-bottom:20px;
		line-height:36px;
		letter-spacing: 1px;
		font-family:"Roboto Slab","Roboto","Helvetica New",sans-serif;
	}

	.section-title-text {
		font-size: 18px; line-height: 1.4em;
	}

	.date-published { margin-bottom: 0;  font-size: 18px;}

}

.posts-navigation {
	.screen-reader-text {
		display: none;
	}

	a {
		font-size: 20px;
	}

	margin-bottom: 40px;
}

.entry-content {
	font-size: 18px;
	line-height: 1.6em;

	h1, h2, h3, h4, h5, h6 { font-weight: 600; }
	h1 { font-family: "Roboto Slab","Roboto","Helvetica New",sans-serif; font-weight: 500; }
}


.navbar-fixed-top {
	@media (max-width:@screen-desktop) {
		border-bottom: solid 1px #DEDEDE;
	}
}

.menu-fixed .navbar-fixed-top {
	border-bottom: solid 1px #DEDEDE;
}

.navbar-brand {
	position: relative;
	top: 8px;
	@media (max-width:@screen-tablet) {
		top: 6px
	}

	img {
		@media (max-width:@screen-phone) {
			width: 240px;
		}

		@media (max-width:@screen-tablet) {
			width: 300px;
		}
	}
}