/* Section Header */
.section-header {
	.page-breadcrumbs-wrapper {
		@media (min-width:@screen-desktop) {
			display: none;
		}
	}


	&.page-header {
		margin: 120px auto 0;
		@media (max-width: @screen-desktop) {
			margin: 140px auto 0;
		}

		@media (max-width:@screen-tablet) {
			margin: 100px auto 0;
		}
	}

	.section-title {
		font-size:48px;
		font-weight: 600;
		color:#444;
		margin-bottom:20px;
		line-height:36px;
		letter-spacing: 1px;
		font-family:"Roboto Slab","Roboto","Helvetica New",sans-serif;
	}

	.section-title-text {
		font-size: 16px;
	}

}

.posts-navigation {
	.screen-reader-text {
		display: none;
	}

	a {
		font-size: 20px;
	}

	margin-bottom: 40px;
}