.home-description {
	margin: 20px auto;

	h2 {
		font-size: 42px; text-align: center; line-height: 1.5em;
		font-family: "Roboto Slab","Roboto","Helvetica New",sans-serif; font-weight: 500;

		@media (max-width:@screen-tablet) {
			text-align: left;
			font-size: 36px;
		}
	}

	.description-text {
		font-size: 20px; color: #666; line-height: 1.6em;
	}
}

.home-posts {
	.title-small a { color: #556; border-bottom: solid 1px #DEDEDE; padding-bottom: 2px;}
	.title-small a:hover { color: #303030; border-bottom: solid 1px #303030; }
	.title-small.see-all a { color: #6281CD}
	.title-small.see-all a:hover { border-bottom: solid 1px #6281CD; }
	p { font-size: 16px; }
	.link-read-more { font-size: 15px; color: #6281CD}
}